.speech{
color: #000;
font-size: 20px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.direction{
    color: black;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    background-color: lightcoral;
}
.direction:hover{
    background-color: darkblue;
    color: white;
}
.betty{
     color: darkcyan;
}
.cotton{
      color: darkorange;
}
.betty:hover{
    color: red;
    text-shadow: 2px 2px 4px #000000;
    border: #000 dotted;
}
.cotton:hover{
    color:green;
    text-shadow: 4px 4px 2px royalblue;
    border :grey solid;

}
table,tr,th,td{
    border: 1px solid black;
     border-collapse: collapse;
     }
     table{
        margin: 30px;
     }
tr,th,td{
    padding: 10px 20px 30px;
}
tr:nth-child(odd){
    background-color: #3ff;
}
tr:nth-child(even){
    background-color: #ef0;
}
th{
    background-color: brown;
    color: ghostwhite;
}
td{
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightcoral;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }
  
  